spring: 
  profiles: 
    active: 
    - dev
---
server:
  port: 8201
spring:
  profiles: dev
  application:
    name: microservicecloud-config-client
eureka:
  client:
    service-url:
      defaultZone: http://eureka-dev.com:7001/eureka/  #设置与Eureka Client交互的地址查询服务和注册服务都依赖这个地址
---
server:
  port: 8202
spring:
  profiles: test
  application:
    name: microservicecloud-config-client
eureka:
  client:
    service-url:
      defaultZone: http://eureka-test.com:7001/eureka/  #设置与Eureka Client交互的地址查询服务和注册服务都依赖这个地址
